# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
mediafiles/

# Environment
.env

# Tooling
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Vercel
.vercel/

# Editor
.idea/
.vscode/
*.swp
.DS_Store
